@import '../../globals.scss';

.shadowWrapper {
  filter: drop-shadow(0px 30px 90px rgba(0, 0, 0, 0.05));
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;

    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 86.98%,
      1.18% 87.58%,
      2.35% 88.17%,
      3.53% 88.75%,
      4.71% 89.32%,
      5.88% 89.87%,
      7.06% 90.41%,
      8.24% 90.94%,
      9.41% 91.46%,
      10.59% 91.96%,
      11.76% 92.45%,
      12.94% 92.92%,
      14.12% 93.38%,
      15.29% 93.83%,
      16.47% 94.26%,
      17.65% 94.67%,
      18.82% 95.07%,
      20% 95.46%,
      21.18% 95.83%,
      22.35% 96.18%,
      23.53% 96.52%,
      24.71% 96.84%,
      25.88% 97.15%,
      27.06% 97.44%,
      28.24% 97.71%,
      29.41% 97.97%,
      30.59% 98.21%,
      31.76% 98.43%,
      32.94% 98.64%,
      34.12% 98.82%,
      35.29% 99%,
      36.47% 99.15%,
      37.65% 99.29%,
      38.82% 99.41%,
      40% 99.51%,
      41.18% 99.6%,
      42.35% 99.66%,
      43.53% 99.71%,
      44.71% 99.75%,
      45.88% 99.76%,
      47.06% 99.76%,
      48.24% 99.74%,
      49.41% 99.7%,
      50.59% 99.65%,
      51.76% 99.57%,
      52.94% 99.48%,
      54.12% 99.37%,
      55.29% 99.25%,
      56.47% 99.11%,
      57.65% 98.95%,
      58.82% 98.77%,
      60% 98.58%,
      61.18% 98.36%,
      62.35% 98.14%,
      63.53% 97.89%,
      64.71% 97.63%,
      65.88% 97.35%,
      67.06% 97.06%,
      68.24% 96.75%,
      69.41% 96.42%,
      70.59% 96.08%,
      71.76% 95.72%,
      72.94% 95.34%,
      74.12% 94.95%,
      75.29% 94.55%,
      76.47% 94.13%,
      77.65% 93.69%,
      78.82% 93.25%,
      80% 92.78%,
      81.18% 92.3%,
      82.35% 91.81%,
      83.53% 91.31%,
      84.71% 90.79%,
      85.88% 90.26%,
      87.06% 89.71%,
      88.24% 89.15%,
      89.41% 88.58%,
      90.59% 88%,
      91.76% 87.41%,
      92.94% 86.8%,
      94.12% 86.18%,
      95.29% 85.56%,
      96.47% 84.92%,
      97.65% 84.27%,
      98.82% 83.61%,
      100% 82.94%
    );

    @include mobile {
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 95.27%,
        1.18% 95.45%,
        2.35% 95.62%,
        3.53% 95.79%,
        4.71% 95.96%,
        5.88% 96.12%,
        7.06% 96.28%,
        8.24% 96.43%,
        9.41% 96.58%,
        10.59% 96.73%,
        11.76% 96.87%,
        12.94% 97.01%,
        14.12% 97.14%,
        15.29% 97.27%,
        16.47% 97.39%,
        17.65% 97.52%,
        18.82% 97.63%,
        20% 97.74%,
        21.18% 97.85%,
        22.35% 97.96%,
        23.53% 98.05%,
        24.71% 98.15%,
        25.88% 98.24%,
        27.06% 98.32%,
        28.24% 98.4%,
        29.41% 98.48%,
        30.59% 98.55%,
        31.76% 98.61%,
        32.94% 98.67%,
        34.12% 98.73%,
        35.29% 98.78%,
        36.47% 98.82%,
        37.65% 98.86%,
        38.82% 98.9%,
        40% 98.93%,
        41.18% 98.95%,
        42.35% 98.97%,
        43.53% 98.99%,
        44.71% 99%,
        45.88% 99%,
        47.06% 99%,
        48.24% 98.99%,
        49.41% 98.98%,
        50.59% 98.97%,
        51.76% 98.94%,
        52.94% 98.92%,
        54.12% 98.89%,
        55.29% 98.85%,
        56.47% 98.81%,
        57.65% 98.76%,
        58.82% 98.71%,
        60% 98.65%,
        61.18% 98.59%,
        62.35% 98.53%,
        63.53% 98.45%,
        64.71% 98.38%,
        65.88% 98.3%,
        67.06% 98.21%,
        68.24% 98.12%,
        69.41% 98.03%,
        70.59% 97.93%,
        71.76% 97.82%,
        72.94% 97.71%,
        74.12% 97.6%,
        75.29% 97.48%,
        76.47% 97.36%,
        77.65% 97.23%,
        78.82% 97.1%,
        80% 96.97%,
        81.18% 96.83%,
        82.35% 96.68%,
        83.53% 96.54%,
        84.71% 96.38%,
        85.88% 96.23%,
        87.06% 96.07%,
        88.24% 95.91%,
        89.41% 95.74%,
        90.59% 95.57%,
        91.76% 95.4%,
        92.94% 95.22%,
        94.12% 95.04%,
        95.29% 94.86%,
        96.47% 94.67%,
        97.65% 94.48%,
        98.82% 94.29%,
        100% 94.1%
      );
    }

    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 0;
      overflow: hidden;
      width: 100vw;
      max-width: 3000px;

      &.small {
        height: 500px;
        &.noBackground {
          height: 600px;
        }

        @include mobile {
          height: 600px;

          .content {
            .subText {
              margin-top: 10px;
            }
          }

          &.noBackground {
            height: 360px;
          }
        }

        @include desktop {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 1) 0%,
              rgb(255, 255, 255) 30%,
              rgba(255, 255, 255, 0.561) 50%,
              rgba(255, 255, 255, 0.19) 57%,
              /* Fully opaque white at the top */ rgba(255, 255, 255, 0) 100%
            );
          }
        }
      }

      &.large {
        height: 70vh;

        @include mobile {
          height: 90vh;
        }
        .content {
          bottom: 120px;
        }

        .smallBackgroundImg {
          bottom: -100px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          $color-white 0%,
          $color-white 30%,
          rgba(255, 255, 255, 0) 80%
        );
        opacity: 1;
        z-index: 0;

        @include mobile {
          opacity: 1;
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgb(255, 255, 255) 37%,
            rgba(255, 255, 255, 0.19) 60%,
            /* Fully opaque white at the top */ rgba(255, 255, 255, 0) 100%
              /* Fully transparent at the bottom */
          );
        }
      }

      .largeBackgroundImg {
        max-width: 1690px;
        object-fit: cover;

        position: absolute;
        right: 0;
        bottom: 0;

        z-index: -1;

        @include tablet {
          margin-right: -150px;
        }
        @include mobile {
          display: none;
        }
      }

      .smallBackgroundImg {
        display: none;

        @include mobile {
          display: block;
          width: 100%;
          object-fit: cover;

          position: relative;
          bottom: -50px;
          z-index: -1;
        }
      }
      .headerImg {
        @include mobile {
          align-self: center;
          width: 100%;
          object-fit: contain;
        }
      }

      .tree {
        position: absolute;
        bottom: 0px;
        left: -200px;
        z-index: 0;
        opacity: 0.1;
        @include tablet {
          left: -300px;
        }

        @include mobile {
          display: none;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;

        position: absolute;
        z-index: 1;
        left: 20px;
        // bottom: 100px;

        width: 45%;

        line-height: 2;

        font-size: clamp($fz-sm, calc($fz-xs + 0.4vw), $fz-md);

        @include mobile {
          width: 100%;
          bottom: unset;
          top: 100px;
          left: 0;
          margin-left: 0;
          transform: scale(0.8);
          text-align: center;
        }
        .headerTxt {
          font-family: var(--font-pt-bold);
          text-transform: lowercase;
          font-size: $fz-xxl;
          margin: 0;
          padding: 0;
          margin-bottom: -20px;

          @include mobile {
            font-size: $fz-xl;
            text-align: center;
            width: 100%;
          }
        }

        .subText {
          padding: 0;
          margin: 0;
          color: $color-green;
          font-family: var(--font-sans);
          font-weight: 400;
          @include mobile {
            font-size: $fz-xss;
            width: 100%;
          }
        }
      }
    }
  }
}
