@import '../../../globals.scss';
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  // padding: 20px;
  box-sizing: border-box;

  background-color: $color-white;

  .container {
    background-color: $color-gray;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: left;
    text-align: center;

    padding: 50px;

    h1 {
      font-size: 2rem;
      font-family: var(--font-pt-bold);
    }

    .error {
      color: #e74c3c;
      font-size: 1rem;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 400px;
    }

    .input {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      margin-bottom: 20px;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      transition: border 0.3s ease;
    }

    .input:focus {
      border-color: #3498db;
      outline: none;
    }
  }
}
