@import '../../../globals.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 80px 0 250px 0;
  position: relative;

  @include mobile {
    padding: 80px 0 190px 0;
  }

  .imageContainer {
    position: absolute;
    z-index: 0;
    bottom: -140px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    overflow: scroll;

    //snap scroll
    scroll-snap-type: x mandatory;

    @include mobile {
      bottom: -100px;
      gap: 0px;
    }
    .image {
      background-color: white;

      margin: 0 20px;
      object-fit: cover;
      border-radius: 10px;

      box-shadow:
        rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
        rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
        rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
      scroll-snap-align: center;

      @include mobile {
        width: 200px;
        height: 200px;
        margin: 0 10px;
      }
    }
  }
}
