@import '../../globals.scss';
.container {
  margin-bottom: 10px;
  .subTitle {
    color: $color-yellow;
    font-size: $fz-xs;
    margin-bottom: -5px;
    text-transform: uppercase;
    font-family: var(--font-pt-bold);

    @include mobile {
      font-size: $fz-xxs;
    }
  }

  .title {
    color: $color-green;
    font-size: $fz-lg;
    margin: 0;
    padding: 0;
    font-family: var(--font-pt-bold);
    &.uppercase {
      text-transform: uppercase;
    }
    &.center {
      text-align: center;
    }

    @include mobile {
      font-size: $fz-mdl;
    }
    &.small {
      font-size: $fz-md;
      font-family: var(--font-pt);

      @include mobile {
        font-size: $fz-sm;
      }
    }
  }
}
