@import '../../globals.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  flex-direction: column;

  .icon {
    font-size: 10rem;
    color: $color-yellow;
  }

  .title {
    font-family: var(--font-pt-bold);
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
  }

  p {
    font-family: var(--font-sans);
    font-size: 1.2rem;
  }

  @include mobile {
    transform: scale(0.7);
  }
}
