@import '../../../globals.scss';
.wrapper {
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 200px 0 0 0;

    @include tablet {
      gap: 0px;
      padding: 150px 0;
    }
    @include mobile {
      flex-direction: column;
      gap: 0;
      padding: 100px 40px;
    }

    .textContainer {
      max-width: 600px;
      flex: 1;

      @include tablet {
        padding-left: 30px;
      }
      @include mobile {
        width: 100%;
        padding-left: 0px;
      }
    }
    .imagesContainer {
      flex: 1;

      position: relative;

      max-width: 600px;
      min-width: 600px;

      margin-top: -200px;
      @include tablet {
        transform: scale(0.8);
      }

      @include mobile {
        transform: scale(0.63);
        margin-top: 0px;
      }

      .image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;

        border: $color-yellow 10px solid;

        animation: float 7s ease-in-out infinite;

        &:nth-child(1) {
          position: absolute;
          top: 100%;
          left: 15%;
          scale: 0.8;
          animation: float 5s ease-in-out infinite;
          transform: translateY(-50%);
        }

        &:nth-child(2) {
          position: absolute;
          top: 40%;
          right: -30px;
          scale: 0.8;

          animation: float 3s ease-in-out infinite;

          transform: translateY(-50%);
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
