@import '../../../globals.scss';
.storyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 6rem;

  margin-top: 90px;

  .title {
    margin: 6rem;
  }
  padding-bottom: 200px;
}
