@import '../../globals.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .message {
    color: $color-green;
    font-size: $fz-md;
    font-family: var(--font-sans);
    text-align: center;
  }

  .loadingIcon {
    font-size: 5rem;
    color: $color-yellow;
    //animation for loading infinite rotation in one direction
    animation: spin 1s linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
