$color-green: #5a664f;
$color-yellow: #e7cd6f;
$color-gray: #f8f8f8;
$color-black: #3b3b3b;
$color-light-black: #666;
$color-white: rgb(255, 255, 255);

$mobile-width: 990px;
$tablet-width: 1300px;

$fz-xxl: 4rem;
$fz-xl: 3rem;
$fz-lg: 2.3rem;
$fz-mdl: 2rem;
$fz-md: 1.6rem;
$fz-sm: 1.3rem;
$fz-xss: 1.1rem;
$fz-xs: 1rem;
$fz-xxs: 0.9rem;
// $fz-xxxs: 0.5rem;

@mixin mobile {
  @media (max-width:#{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width:#{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$mobile-width}) {
    @content;
  }
}

.html {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;

  .body {
    width: 100%;
    max-width: 2050px;
    overflow-x: hidden;
    color: $color-black;
    background: $color-white;
    font-family: var(--font-pt);
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
