@import '../../globals.scss';
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: $color-gray 1px solid;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-bottom: $color-yellow 10px solid;
  position: relative;
  padding-top: 230px;

  @include mobile {
    padding-top: 300px;
  }

  .container {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 50px;

      @include mobile {
        margin-right: 15px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      .link {
        color: $color-green;
        text-transform: lowercase;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: $fz-sm;
      margin-bottom: -20px;
    }

    .copyright {
      margin-bottom: -30px;
      color: darken($color-gray, 40%);
    }
  }
}
